<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoundBitsRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SoundBitsRecorder.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Basic_RecordInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Basic_RecordOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Basic_InputID" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Basic_OutputID" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Main" serializeAs="String">
                <value>Basic</value>
            </setting>
            <setting name="Advanced_InputVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Advanced_OutputVolume" serializeAs="String">
                <value>1</value>
            </setting>
        </SoundBitsRecorder.Properties.Settings>
    </userSettings>
</configuration>