<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.6.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net472" />
  <package id="NAudio.Core" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Lame" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.0.0" targetFramework="net472" />
</packages>